*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
    background-color: rgb(230, 226, 226);
    
} 

.div1 {
    
    color: rgb(255, 166, 0);
    animation-name: example;
    animation-duration: 60s;
  }
  
  @keyframes example {
    from {color: rgb(132, 0, 255);}
    to {color: rgb(9, 255, 0);}                 
    
  }